:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --Mobile-farsi-youtube-font-size:30px;
}

/* .slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    font-size: 50px;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4 text-6xl;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
} */
h1{
  font-size: 50px;
}

.slidev-layout{
  font-size: var(--Mobile-farsi-youtube-font-size);
  h1{
    font-size: 50px;
  }

}